<p>Kính thưa <%= @user.name %>,</p>

<p>Chúng tôi rất tiếc phải gửi mail thông báo cho anh/chị vì 1 số trục trặc, sự kiện <%= @event.name %> đã bị huỷ.</p> 
<p>Rất kính mong anh/chị thông cảm cho chúng tôi.</p>
<p>Mọi chi phí tham gia sự kiện đã được chúng tôi hoàn trả lại cho quý vị.</p>

<p>Nếu có thắc mắc, xin vui lòng liên hệ tới địa chỉ email của Nhà tổ chức sự kiện <%= @event.provider.email %> hoặc admin của hệ thống chúng tôi <%= User.admin.first.email %>.</p>

<p>Chúng tôi thực sự xin lỗi vì sự bất tiện trên</p>
<p><%= @event.provider.name %></p>
