<%= form_with(model: event, local: true, class: "form-horizontal") do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group row">
    <%= form.label :name, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :name, :class => "form-control", required: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Tags", :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_field :all_tags, placeholder: "Tags separated with comma", :class => "form-control" %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :description, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.text_area :description, :class => "form-control", required: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :place, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%# <%= form.number_field :place_id, :class => "form-control" %> 
      <%= select("event", "place_id", Place.all.collect {|place| [ place.name, place.id ] }, { include_blank: true }, class: "form-control") %>
    </div>
  </div>
  
  <div class="form-group row">
    <%= form.label :age, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.number_field :age_filter, :class => "form-control", :min => 0, :max => 9, required: true %>
    </div>
    <p>If available for all ages, choose 0</p>
  </div>

  <div class="form-group row">
    <%= form.label "Towards", class: "col-md-3 col-form-label" %>
    <div class="col-md-2">
      <%= form.radio_button :sex_status, :boys %>
      <%= label :sex_status, 'Boys' %>
    </div>
    <div class="col-md-2">
      <%= form.radio_button :sex_status, :girls %>
      <%= label :sex_status, 'Girls' %> 
    </div>
    <div class="col-md-3">
      <%= form.radio_button :sex_status, :boys_and_girls %>
      <%= label :sex_status, 'Boys and Girls' %> 
    </div>
  </div>

<div class="form-group row">
    <div class="offset-md-3 col-md-3">
      <%= form.radio_button :indoor_status, :indoor %>
      <%= label :indoor_status, 'Indoor' %>
    </div>
    <div class="col-md-3">
      <%= form.radio_button :indoor_status, :outdoor %>
      <%= label :indoor_status, 'Outdoor' %> 
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Adult's price", :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.number_field :adult_price, :class => "form-control", :min => 50000, required: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label "Child's price", :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.number_field :child_price, :class => "form-control", :min => 50000, required: true %>
    </div>
  </div>

  <div class="form-group row">
    <%= form.label :pictures, :class => "control-label col-sm-2" %>
    <div class="col-sm-10">
      <%= form.file_field :pictures, :multiple => true %>
    </div>
  </div>

  <div class="form-group"> 
    <div class="col-sm-offset-2 col-sm-10">
      <%= form.submit :class => "btn btn-primary" %>
    </div>
  </div>
<% end %>
