<div class="row">
    <% if current_user.admin? %>
      <%= render('layouts/adminsidenav') %>
    <% else %>
      <%= render('layouts/organizersidenav') %>
    <% end %>
    <div class="col-md-7">
        <h1>Editing Event</h1>
        <%= render 'form', event: @event %>

    <%= link_to 'Show', @event %> |
    <%= link_to 'Back', events_path %>
    
    </div>
</div>
