<p id="notice"><%= notice %></p>

<div class="row">
    <% if current_user.admin? %>
      <%= render('layouts/adminsidenav') %>
    <% else %>
      <%= render('layouts/organizersidenav') %>
    <% end %>
    <div class="col-md-9">
      <h1>Events</h1>

      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Place</th>
            <th colspan="5">Actions</th>
          </tr>
        </thead>

        <tbody>
          <% @events.each do |event| %>
            <tr>
              <td><%= event.name %></td>
              <td><%= event.place.name %></td>
              <td><%= link_to 'Show', event, class: "btn btn-info" %></td>
              <td><%= link_to 'Edit', edit_event_path(event), class: "btn btn-warning" %></td>
              <td><%= link_to 'Delete', event, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <br>

      <%= link_to 'New Event', new_event_path, class: "btn btn-success" %>
    </div>
</div>
