<div class="container mt-5">  
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-6">
          <% if @event.pictures.attached? %>
            <div id="carouselEventShowControls" class="carousel slide" data-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active image-slide-size">
                  <%= image_tag(@event.pictures.first, :alt => "Event picture", :class => "event-pictures") %>
                </div>
                <% @event.pictures.drop(1).each do |picture| %>
                  <div class="carousel-item image-slide-size">
                    <%= image_tag(picture, :alt => "Event picture", :class => "event-pictures") %>
                  </div>
                <% end %>
              </div>
              <a class="carousel-control-prev" href="#carouselEventShowControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselEventShowControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          <% else %>
            <div class="image-slide-size">
              <%= image_tag(image_url("blank.jpg"), :alt => "Event picture", :class => "event-pictures") %>
            </div>
          <% end %>
        </div>
        <div class="col-md-6">
          <h3><%= @event.name %></h3>

          <p>
            <strong>Tags:</strong>
            <%=raw tag_links(@event.all_tags)%>
          </p>

          <p>
            <strong>Place:</strong>
            <%= link_to @event.place.name, place_path(@event.place) %>
          </p>
          
          <p>
            <%= @event.indoor_status %> Events
          </p>

          <p>
            <strong>Suitable for:</strong>
            <%= @event.age_filter %> years old
          </p>

          <p>
            <strong>Towards:</strong> <%= @event.sex_status %>
          </p>

          <p>
            <strong>Adult's price:</strong> <%= @event.adult_price %> VND
          </p>

          <p>
            <strong>Child's price:</strong> <%= @event.child_price %> VND
          </p>
        </div>
      </div>

      <div class="card mt-2">
        <p class="card-body">
          <strong>Description:</strong>
          <%= @event.description %>
        </p>
      </div>
      <div class="row">
        <h5>Similar Events</h5>
        <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="similar-event"  data-interval="1000">
                <div class="MultiCarousel-inner">
                  <% @ids.each do |id| %> 
                    <% event=Event.find(id) %>
                    <% if event.hidden_status == false %>
                      <div class="item">
                          <div class="pad15">
                            <div class="similar-first-picture">
                              <%= image_tag(event.pictures.first, :alt => "Event picture", :class => "events-list-picture") if event.pictures.attached? %>
                              <%= image_tag(image_url("blank.jpg"), :alt => "Event picture", :class => "events-list-picture") if event.pictures.attached? == false %>
                            </div>
                            <p class="similar"><%= link_to event.name, event_path(event) %></p>
                            <p class="similar"><%= fa_icon "map-marker" %> <%= event.place.name %></p>
                            <p class="similar">
                              <strong><%= fa_icon "tags" %></strong>
                              <%= event.all_tags %>
                            </p>
                            <p class="similar">Suitable for: <%= event.age_filter %> years old</p>
                          </div>
                      </div>
                    <% end %>
                  <% end %>
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
      </div>
      
      <% if user_signed_in? %>
        <% if current_user.organizer? or current_user.admin? %>
            <%= link_to 'Edit', edit_event_path(@event), :class => "btn btn-primary" %> 
            <%= link_to 'Back', "javascript: history.go(-1)", :class => "btn btn-secondary" %>
            <div class="comments-list mt-2">
              <div class="card">
                <div class="card-body">
                  <p><a href="#">user 1</a></p>
                  <p>Number of adults: </p>
                  <p>Number of children: </p>
                  <p>Start time: </p>
                  <p>End time: </p>
                  <p>Total price: </p>
                </div>
                <div class="card-footer">
                  <button class="btn btn-danger pull-right">Decline</button><!--attendance.approve_status=false và gửi mail-->
                  <button class="btn btn-success pull-right mr-2">Approve</button><!--attendance.approve_status=true và gửi mail-->
                </div>
              </div>
            </div>
        <% else %>
            <% if @event.user_ids.include?(current_user.id) %>
              <div class="card mb-2">
                <div class="card-body">
                  <p>You have signed up for <span id="current_attendance"><%= @attendance.adults_number %> adults and <%= @attendance.children_number %></span> children.</p>
                  <%= link_to "Edit Joining", edit_event_attendance_path(@event, @attendance), :remote => true,
                    :class => "btn btn-success", 'data-toggle' => 'modal', 'data-target' => "#attend-form" %>
                  <%= link_to "Cancel Joining", event_attendance_path(@event, @attendance), method: :delete,
                  data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
                   <%= link_to 'Pay', "#", :class => "btn btn-secondary disabled" %>
                   <%= link_to 'Back', "javascript: history.go(-1)", :class => "btn btn-link" %>
                </div>
              </div>
            <% else %>
              <div class="card mb-2">
                <div class="card-body">
                  <p id="join_event">Do you want to register for the event?</p>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#attend-form" id="create-join">
                    Join
                  </button>
                  <%= link_to 'Back', "javascript: history.go(-1)", :class => "btn btn-secondary" %>
                </div>
              </div>
            <% end %>
            <div class="modal fade" id="attend-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                <%= render 'attendances/form' %> 
              </div>
            </div>
          <div class="comment-form mt-2">
            <%= render partial: "comments/form", locals: { event: @event, comment: @comment } %>
          </div>
          <div class="comments-list mt-2">
            <%= render partial: "comments/index",  collection: @event.comments, as: "comment" %>
          </div>

        <% end %>
      <% else %>
        <div class="card mb-2">
          <div class="card-body">
            Sign in to comment
          </div>
        </div>
        <div class="comments-list mt-2">
          <%= render partial: "comments/index",  collection: @event.comments, as: "comment" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-3">
      <%= render('layouts/advertisement') %>

      <h5 class="mt-3">Today and tomorrow's weather of <%= @event.place.name %></h5>
      <table class="table table-bordered">
        <thead>
          <tr class="text-center">
            <% @weathers["list"].each do |weather| %>
                <th><%= place_datetime_format(weather["dt"]) %></th> <%# strptime ở đây %>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @weathers["list"].each do |weather| %>
              <td class="text-center">
                <p>
                  <%= image_tag 'http://openweathermap.org/img/w/'+weather["weather"][0]["icon"]+'.png', alt: "Weather" %>
                </p>
                <p><%= weather["weather"][0]["main"] %></p>
                <p><%= weather["temp"]["day"] %> &#8451</p>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>      
      <div class="card mt-2">
        <div class="card-header">
          Featured Places
        </div>
        <%= render partial: "places/random",  collection: @random_places, as: "place" %>
      </div>
    </div>
  </div>
</div>
