<div class="comments-list mt-2">
  <div class="card">
    <div class="card-body">
      <p><%= attendance.user.name %></p>
      <p>Number of adults: <%= attendance.adults_number %></p>
      <p>Number of children: <%= attendance.children_number %></p>
      <p>Start time: <%= attendance.start_time.strftime("%H:%M - %d/%m/%Y") %></p>
      <p>End time: <%= attendance.end_time.strftime("%H:%M - %d/%m/%Y") %></p>
      <p>Total price: <%= attendance.total_price %> VND</p>
    </div>
    <div class="card-footer">
      <% if attendance.approve_status == true %>
        <button class="btn btn-success pull-right" disabled>Approved</button>
      <% elsif attendance.approve_status == false %>
        <button class="btn btn-danger pull-right" disabled>Declined</button>
      <% else %>
        <%= link_to "Decline", decline_event_attendance_path(@event, attendance), class: "btn btn-danger pull-right" %>
        <%= link_to "Approve", approve_event_attendance_path(@event, attendance), class: "btn btn-success pull-right mr-2" %>
      <% end %>
    </div>
  </div>
</div>
