<div class="modal-content">
    <%= form_for([@event, @attendance || @event.attendances.build], remote: true) do |form| %>
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Join Event</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            
            <div class="row">
                <%= form.label :adults_number, "Number of adults", class: "control-label col-sm-4" %>
                <div class="col-sm-8">
                    <%= form.number_field :adults_number, class: 'form-control attend-number-box', autofocus: true, :id => 'attend-number-box', min: 1, max: 2, required: true %>
                </div>
            </div>
            <div class="row mt-2">
                <%= form.label :children_number, "Number of children", class: "control-label col-sm-4" %>
                <div class="col-sm-8">
                    <%= form.number_field :children_number, class: 'form-control attend-number-box', autofocus: true, :id => 'attend-number-box', min: 1, max: 5, required: true %>
                </div>
            </div>  
            <div class="form-group row">
                <%= form.label :start_time, "Start", :class => "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <% if form.object.new_record? %>
                        <%= form.text_field :start_time, :id => "start_time", :class => "form-control", :autocomplete => "off", required: true %>
                    <% else %>
                        <%= form.text_field :start_time, :id => "start_time", :class => "form-control", :autocomplete => "off", required: true, :value => @attendance.start_time.strftime("%H:%M %Y-%m-%d") %>
                    <% end %>
                </div>
            </div>

            <div class="form-group row">
                <%= form.label :end_time, "End", :class => "control-label col-sm-2" %>
                <div class="col-sm-10">
                    <% if form.object.new_record? %>
                        <%= form.text_field :end_time, :id => "end_time", :class => "form-control", :autocomplete => "off", required: true %>
                    <% else %>
                        <%= form.text_field :end_time, :id => "end_time", :class => "form-control", :autocomplete => "off", required: true, :value => @attendance.end_time.strftime("%H:%M %Y-%m-%d") %>
                    <% end %>
                </div>
            </div>
            
            <hr>

            <div class="form-group row">
                <%= form.label "Total Amount", :class => "control-label col-sm-2" %>
                <div class="col-sm-10">
                    1.200.000 VND<!--attendance.total_price = attendance.adult_number * event.adult_price + attendance.children_number * event.child_price-->
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <%= form.submit form.object.new_record? ? "Join Event" : "Update Joining Event", id: "confirm-join", class: "btn btn-primary" %>
        </div>
    <% end %>
</div>
<script>
  $('#start_time').datetimepicker({ 
    footer: true,
    format: 'HH:MM yyyy-mm-dd',
    datepicker: { 
      minDate: function() {
        var date = new Date();
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
      }
    }
  });
  $('#end_time').datetimepicker({ 
    footer: true,
    format: 'HH:MM yyyy-mm-dd',
    datepicker: { 
      minDate: function() {
        var date = new Date();
        return new Date(date.getFullYear(), date.getMonth(), date.getDate());
      }
    }
  });
</script>
