<div class="col-md-2">
  <ul class="nav nav-pills flex-column side-nav">
    <% if current_page?(root_path) %>
      <li class="nav-item side-nav-click">
    <% else %>
      <li class="nav-item">
    <% end %>
      <%= link_to 'Events', root_path, method: :get, class: "nav-link" %>
    </li>
    <% if current_page?(home_places_path) %>
      <li class="nav-item side-nav-click">
    <% else %>
      <li class="nav-item">
    <% end %>
      <%= link_to 'Places', home_places_path, method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Top</a>
    </li>
    <% if current_page?(terms_path) %>
      <li class="nav-item side-nav-click">
    <% else %>
      <li class="nav-item">
    <% end %>
      <%= link_to 'Terms', terms_path, method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item dropdown dropright">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Age</a>
      <div class="dropdown-menu">
        <% (0..9).each do |age| %>
          <% if(age==0) %>
            <%= link_to "All ages", age_path(age), method: :get, class: "dropdown-item" %>
          <% else %>
            <%= link_to age, age_path(age), method: :get, class: "dropdown-item" %>
          <% end %>
        <% end %>
      </div>
    </li>
  </ul>
</div>